body { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    width: 100%;
    min-height: 100vh;
}

.header{
    display: flex;
    max-width: 1200px;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    margin-right: 10px;
   
}

.hero {
    display: flex;
    background-color: #1F2937;
    min-height: 200px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 50px;
    
}

.hero h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text p{
    margin-top: -30px;
}
.button {
    background-color:#3882F6 ;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold
}

.second-container{
    display: flex;
    justify-content: center;
    padding: 0 100px;

}

.boxes-content{
    display: flex;
    justify-content: center;
    padding: 0 230px;
}

img {
    width: 120px;
    height: auto;
    border-radius: 10%;
    
}

.image-holder{
    text-align: center;
    border-radius: 10px;
}    

.thirdsection {
    
    display: flex;
    background-color: #e5e7eb;
    min-height: 200px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 50px;

}

.quotetext{
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

}

.cite {
    display: flex;
    font-weight: 900;
    font-size: 25px;
    justify-content: flex-end;
    
}

.fourthsection{
    display: flex;
    background-color: #f5f7fc;
    min-height: 200px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 50px;

}
